<div class="container">
  <h2 class="text-center my-5">Detalhes do contribuinte</h2>

  <div class="d-flex justify-content-around align-items-top">
    <div>
      <div>
        <h4 class="text-center">Dados pessoais</h4>
        <hr>
        <p><strong>Nome:</strong> {{ contribuinte?.nome }}</p>
        <p><strong>Email:</strong> {{ contribuinte?.email }}</p>
        <p><strong>CPF:</strong> {{ contribuinte?.cpf }}</p>
        <p><strong>Telefone:</strong> {{ contribuinte?.telefone }}</p>
        <p><strong>Celular:</strong> {{ contribuinte?.celular }}</p>
      </div>
    </div>
    <div>
      <h4 class="text-center">Endereços</h4>
      <hr>
      <div class="d-flex flex-column" *ngFor="let endereco of contribuinte?.enderecos">
        <div class="d-flex flex-row">
          <p class="mx-3"><strong>Rua:</strong> {{ endereco.rua }}</p>
          <p class="mx-3"><strong>Número:</strong> {{ endereco.numero }}</p>
          <p class="mx-3"><strong>Bairro:</strong> {{ endereco.bairro }}</p>
        </div>
        <div class="d-flex flex-row">
          <p class="mx-3"><strong>Cidade:</strong> {{ endereco.cidade }}</p>
          <p class="mx-3"><strong>CEP:</strong> {{ endereco.cep }}</p>
        </div>
        <div class="d-flex flex-row">
          <p class="mx-3"><strong>Estado:</strong> {{ endereco.estado }}</p>
          <p class="mx-3"><strong>País:</strong> {{ endereco.pais }}</p>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
