<div class="d-flex flex-column">
  <a class="btn btn-primary my-4 align-self-end" routerLink="/novo-contribuinte"
    >Novo contribuinte</a
  >

  <p class="alert alert-danger mt-5" *ngIf="!serverOn">
    Erro ao tentar carregar dados do servidor!
  </p>
  <p class="alert alert-danger mt-5" *ngIf="serverOn && !contribuintes?.length">
    Não existem contribuintes cadastrados no servidor!!!
  </p>

  <table class="table table-hover mt-2">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Email</th>
        <th scope="col">Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contribuinte of contribuintes">
        <td>{{ contribuinte.nome }}</td>
        <td>{{ contribuinte.cpf }}</td>
        <td>{{ contribuinte.email }}</td>
        <td>{{ contribuinte.telefone }}</td>
        <td>
          <a
            class="btn btn-sm btn-secondary mx-2"
            routerLink="/detalhes/{{ contribuinte.id }}"
          >
            Detalhes
          </a>
          <a
            class="btn btn-sm btn-warning float-right"
            type="button"
            routerLink="/editar/{{ contribuinte?.id }}"
          >
            Editar
          </a>
          <button
            class="btn btn-sm btn-danger mx-2 float-right"
            type="button"
            (click)="excluirContribuinte(contribuinte)"
          >
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
