<div
  class="modal d-block"
  tabindex="-1"
  role="dialog"
  *ngIf="msgService.mensagem"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content border-warning">
      <div class="modal-header">
        <h5 class="modal-title">Mensagem do sistema</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="msgService.limparForm()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ msgService.mensagem }}</p>
      </div>
    </div>
  </div>
</div>
