<form
  class="needs-validation"
  (ngSubmit)="submit()"
  [formGroup]="contribuinteForm"
  #formDir="ngForm"
  novalidate
>
  <div class="border my-2 px-2">
    <div class="col">
      <h3>Dados pessoais</h3>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group my-3">
          <label for="nome">Nome:</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            placeholder="Digite seu nome completo"
            formControlName="nome"
            value="{{ contribuinte?.nome }}"
            required
          />
          <div
            *ngIf="nome.invalid && formDir.submitted"
            class="invalid-feedback d-inline"
          >
            <p>O nome é obrigatório</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group my-3">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Digite seu email"
            formControlName="email"
            value="{{ contribuinte?.email }}"
            required
          />
          <div
            *ngIf="email.invalid && formDir.submitted"
            class="invalid-feedback d-inline"
          >
            <p>O email é obrigatório</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group my-3">
          <label for="cpf">CPF:</label>
          <input
            type="text"
            class="form-control"
            id="cpf"
            placeholder="Digite seu CPF"
            formControlName="cpf"
            value="{{ contribuinte?.cpf }}"
            required
          />
          <div
            *ngIf="cpf.invalid && formDir.submitted"
            class="invalid-feedback d-inline"
          >
            <p>O CPF é obrigatório</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group my-3">
          <label for="telefone">Telefone:</label>
          <input
            type="tel"
            class="form-control"
            id="telefone"
            placeholder="Digite seu número de telefone"
            formControlName="telefone"
            value="{{ contribuinte?.telefone }}"
            required
          />
          <div
            *ngIf="telefone.invalid && formDir.submitted"
            class="invalid-feedback d-inline"
          >
            <p>O número de telefone é obrigatório</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group my-3">
          <label for="celular">Celular:</label>
          <input
            type="tel"
            class="form-control"
            id="celular"
            placeholder="Digite seu número de celular"
            formControlName="celular"
            value="{{ contribuinte?.celular }}"
            required
          />
          <div
            *ngIf="celular.invalid && formDir.submitted"
            class="invalid-feedback d-inline"
          >
            <p>O número de celular é obrigatório</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="border my-2 px-2" formArrayName="enderecos">
    <div class="row mt-2">
      <div class="col-10">
        <h3>Endereços</h3>
      </div>
      <div class="col-sm">
        <button class="btn btn-sm btn-outline-success" (click)="adicionarEndereco()">
          Cadastrar novo endereço
        </button>
      </div>
    </div>
    <!-- Endereços ahusuhue -->
    <div class="maiorEnd" *ngFor="let enderecoForm of enderecos.controls; let index = index">
      <div [formGroupName]="index">
        <div class="row">
          <div class="col">
            <div class="form-group my-3">
              <label for="cep">CEP:</label>
              <input
                type="text"
                class="form-control"
                id="cep"
                placeholder="Digite seu CEP"
                formControlName="cep"
                required
              />
              <div
                *ngIf="cep?.invalid && formDir.submitted"
                class="invalid-feedback d-inline"
              >
                <p>O CEP é obrigatório</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group my-3">
              <label for="estado">Estado:</label>
              <input
                type="text"
                class="form-control"
                id="estado"
                placeholder="Digite seu estado de residência"
                formControlName="estado"
                required
              />
              <div
                *ngIf="estado?.invalid && formDir.submitted"
                class="invalid-feedback d-inline"
              >
                <p>O nome do estado é obrigatório</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group my-3">
              <label for="pais">País:</label>
              <input
                type="text"
                class="form-control"
                id="pais"
                placeholder="Digite seu país de residência"
                formControlName="pais"
                required
              />
              <div
                *ngIf="pais?.invalid && formDir.submitted"
                class="invalid-feedback d-inline"
              >
                <p>O nome do país é obrigatório</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group my-3">
              <label for="cidade">Cidade:</label>
              <input
                type="text"
                class="form-control"
                id="cidade"
                placeholder="Digite sua cidade de residência"
                formControlName="cidade"
                required
              />
              <div
                *ngIf="cidade?.invalid && formDir.submitted"
                class="invalid-feedback d-inline"
              >
                <p>O nome da cidade é obrigatório</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group my-3">
              <label for="bairro">Bairro:</label>
              <input
                type="text"
                class="form-control"
                id="bairro"
                placeholder="Digite seu bairro de residência"
                formControlName="bairro"
                required
              />
              <div
                *ngIf="bairro?.invalid && formDir.submitted"
                class="invalid-feedback d-inline"
              >
                <p>O nome do bairro é obrigatório</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group my-3">
              <label for="rua">Rua:</label>
              <input
                type="text"
                class="form-control"
                id="rua"
                placeholder="Digite o nome da rua de sua residência"
                formControlName="rua"
                required
              />
              <div
                *ngIf="rua?.invalid && formDir.submitted"
                class="invalid-feedback d-inline"
              >
                <p>O nome da rua é obrigatório</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group my-3">
              <label for="número">Número da casa:</label>
              <input
                type="text"
                class="form-control"
                id="número"
                placeholder="Digite o número da sua residência"
                formControlName="numero"
                required
              />
              <div
                *ngIf="numero?.invalid && formDir.submitted"
                class="invalid-feedback d-inline"
              >
                <p>O número da casa é obrigatório</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>

  <button type="submit" class="btn btn-lg btn-primary my-3">
    Finalizar {{ btnText }}
  </button>
</form>
